{% extends 'index.html' %}
{% block content %}
<div class="container">
    <h2>Статусы</h2>
    <a href="{% url 'add_status' %}" class="btn btn-primary mb-4">Создать статус</a>
    <table class="table table-hover text-nowrap table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'update_status' status.pk %}">Изменить</a><br>
                <a href="{% url 'delete_status' status.pk %}">Удалить</a>
            </td>
         </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}