{% extends 'index.html' %}

{% block content %}
<div class="container">
<h2>Регистрация</h2>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        <div class="form-control form-control-lg">
        <p>{{ field.as_widget }}<p>
        </div>
        <div class="form-error">{{ field.errors }}</div>
    </p>
    {% endfor %}
    <p><button type="submit">Зарегистрироваться</button></p>
</form>
</div>
{% endblock %}
