{% load django_bootstrap5 %}
<div class="card mb-4">
    <div class="card-body">
        <form method="get" action="">
            {% bootstrap_form filter.form %}
            <div class="mb-4">
                <input type="checkbox" name="current_user" value="1" {% if request.GET.current_user %}checked{% endif %}
                       id="id_self_tasks">
                <label for="id_self_tasks">Только свои задачи</label>
            </div>
            <input class="btn btn-primary" type="submit" value="Показать">
        </form>
    </div>
</div>