{% extends 'index.html' %}

{% block content %}
<div class="container"><br>
<h2>{{ title }}</h2><br>

{% if is_delete_view %}
    <p>Вы уверены, что хотите удалить <strong>{{ object.name }}</strong>?</p>
{% endif %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="mb-2">{{ field }}</div>
        {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        <div class="form-error">{{ field.errors }}</div>
    </p>
    {% endfor %}
    {% if is_delete_view %}
        <input class="btn btn-danger" type="submit" value="{{ button_name }}">
    {% else %}
        <input class="btn btn-primary" type="submit" value="{{ button_name }}">
    {% endif %}
</form>
</div>
{% endblock %}
